.blogEntryTopperImg {
	width: 100%;
	height: auto;
	/* Set your border radius here if you'd like the image to have rounded corners. */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.blogEntryTopper_wrapper {
	position: relative;
	/* Adjusting this margin allows you to vary the distance between the bottom
	   of the blogEntryTopper image and the blog entry's title. */
	margin-bottom: 20px;
}
